@font-face {
    font-family: 'Brig';
    src: url('../img/fonts/discography/Brig.ttf');
}

@font-face {
    font-family: 'Stencil';
    src: url('../img/fonts/discography/STENCIL.TTF');
}

@font-face {
    font-family: 'Downcome';
    src: url('../img/fonts/discography/DOWNCOME.TTF');
}

@font-face {
    font-family: 'Bronzo';
    src: url('../img/fonts/discography/BronzoBold.ttf');
}

@font-face {
    font-family: 'Impact';
    src: url('../img/fonts/discography/Impact.ttf');
}

/* Albums */
.albums-intro {
    background-color: var(--crush40-gray);
    font-size: 125%;

    text-align: center;
}

.albumList {
    width: 100%;
    font-size: 125%;

    /* Bleeds through 2N2R and Live! */
    background-image: url('../img/visuals/Background/Discography/LiveStuff.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.albumList .album {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;

    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
}

.albumList .albumLeft {
    grid-template-areas: "info img";
}

.albumList .albumRight {
    grid-template-areas: "img info";
}

.albumList .album .info {
    grid-area: info;

    padding: 50px;
    box-sizing: border-box;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.albumList .album .img {
    grid-area: img;
    max-width: 400px;
    margin: 15px;

    align-self: center;
    justify-self: center;
}

.albumList .album .yearIndicator {
    font-family: 'Dimentia';
    font-style: italic;
    color: var(--crush40-red);
}

.albumList .album .title {
    font-weight: 300;
    font-size: 200%;
}

.albumList .albumThrill {
    background-image: url('../img/visuals/Background/Discography/SkyBg.jpg');
    background-color: skyblue;
}

.albumList .albumThrill .title {
    font-family: 'Impact';
    text-transform: uppercase;
}

.albumList .albumC40 {
    background-image: url('../img/visuals/Background/Discography/Crush40_MotionBlur.png');
    background-color: darkred;
}

.albumList .albumC40 .title {
    font-family: 'Dimentia';
    font-style: italic;
}

.albumList .albumSSS {
    background-image: url('../img/visuals/Background/Discography/SSSBackground.png');
    background-color: lightblue;
}

.albumList .albumSSS .title {
    font-family: 'Bronzo';
}

.albumList .albumRiseAgain {
    background-image: url('../img/visuals/Background/Discography/RiseAgain.png');
    background-size: cover;
    background-position: right;
    background-color: orangered;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}

.albumList .albumRiseAgain .title {
    font-family: 'Downcome';
}

.albumList .albumLive .title {
    font-family: 'Stencil';
}

.albumList .album2N2R {
    background-color: transparent;
    background-image: url('../img/visuals/Background/Discography/2N2RBackground_Transparent.png');
    background-repeat: repeat;
    background-size: cover;
}

.albumList .album2N2R .title {
    font-family: 'Brig';
    text-transform: lowercase;
}

.albumList .album2N2R .text { z-index: 100; }
.albumList .album2N2R .img { z-index: 100; }

/* Slanted background */
/*.albumList .album2012 .albumBackground {
    background-color: purple;
    transform: rotate(6deg);

    z-index: -1;
    position: absolute;
    left: -50px;
    top: -100px;
    width: calc(100% + 100px);
    height: calc(100% + 150px);
}*/

.albumList .albumDrivingThroughForever {
    background-image: url('../img/visuals/Background/Discography/DTF.jpg');
    background-position: center;
}