/* Albums */
.albums-intro {
    background-color: var(--crush40-gray);
    font-size: 125%;

    text-align: center;
}

.albumList {
    width: 100%;

    z-index: -2;
    font-size: 125%;
}

.albumList .album {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;

    position: relative;
}

.albumList .albumLeft {
    grid-template-areas: "info img";
}

.albumList .albumRight {
    grid-template-areas: "img info";
}

.albumList .album .info {
    grid-area: info;

    padding: 50px;
    box-sizing: border-box;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.albumList .album .img {
    grid-area: img;
    max-width: 400px;
    margin: 15px;

    align-self: center;
    justify-self: center;
}

.albumList .album2000 {
    background-color: darkblue;
}

.albumList .album2009 {
    background-color: darkred;
}

.albumList .riseAgainBackground {
    background-color: purple;
    z-index: -1;

    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% + 50px);
    height: 100%;

    transform: rotate(6deg);
    margin-left: -50px;
    margin-top: -100px;
    padding: 100px;
}

.albumList .albumLive {
    margin-top: 150px;
}

.albumList .album2019 {
    background-color: darkgreen;
}