.background {
    background-image: url('../img/visuals/Background/Back3.jpg');
}

/* GUITARS */
/* Intro */
.guitars .intro {
    padding: 15px;
    background-color: black;
    color: white;
    text-align: center;
}

.guitars .intro .content {
    display: grid;

    /* Smallscreen */
    grid-template-rows: auto;
    grid-template-areas: 
        "img"
        "text";
}

.guitars .intro .content .text {
    grid-area: text;
    align-self: center;
    text-align: left;
    font-size: 150%;
}

.guitars .intro .content .img {
    grid-area: img;
    justify-self: center;
    height: 500px;
    max-width: 100%;
    object-fit: scale-down;
}

@media (min-width: 1000px)
{
    .guitars .intro .content {
        grid-template-rows: auto;
        grid-template-columns: 50% 50%;
        grid-template-areas: "text img";
    }
}

/* Details */
.guitars .details {
    display: flex;
    flex-direction: column; /* Smallscreen */
    justify-content: center;
    padding: 60px 15px;
    gap: 20px;
}

.guitars .details .imgFrame {
    text-align: center;
    font-size: 110%;
    padding: 10px;
}

.guitars .details .frame {
    background-color: rgba(0, 0, 0, 0.8);
    border: solid 3px white;
}

.guitars .details .img {
    max-width: 100%;
    object-fit: scale-down;
    height: 300px;
}

.guitars .details .quoteFrame {
    position: relative;
    width: 100%;

    text-align: center;
    font-size: 150%;
}

.guitars .details .quoteFrame .quotation {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 125%;

    padding: 100px 0;
    position: relative;
}

.guitars .details .quoteFrame .quotation .mark {
    position: absolute;
    font-size: 300px;
    font-style: italic;
    margin: 0;
}

.guitars .details .quoteFrame .quotationStart {
    /* Smallscreen */
    left: -30px;
    top: -20px;
}

.guitars .details .quoteFrame .quotationEnd {
    /* Smallscreen */
    right: 50px;
    bottom: -200px;
}

@media (min-width: 1000px)
{
    .guitars .details {
        flex-direction: row;
    }
    
    /*.guitars .details .quoteFrame .quotationStart {
        left: -104px;
        top: -40px;
    }

    .guitars .details .quoteFrame .quotationEnd {
        right: -15px;
        bottom: -200px;
    }*/
}