.GSBack {
    background-image: url('../img/visuals/Background/Back6.png');
}

/* GUITARS */
/* Start */
.intro {
    position: relative;

    padding: 15px 15px 75px 15px;
    background-color: var(--crush40-gray);
    color: white;
    text-align: center;

    background-image: url('../img/visuals/Background/Vector/Jun2.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.intro .start {
    display: grid;

    /* Smallscreen */
    grid-template-rows: auto auto;
    grid-template-areas: 
        "img"
        "text";
}

.intro .start .text {
    grid-area: text;
    align-self: center;
    text-align: left;
    font-size: 150%;
}

.intro .start .img {
    grid-area: img;
    justify-self: center;
    height: 500px;
    max-width: 100%;
    object-fit: scale-down;
}

@media (min-width: 1000px)
{
    .intro .start {
        grid-template-rows: auto;
        grid-template-columns: 50% 50%;
        grid-template-areas: "text img";
    }
}

/* Details */
.intro .frame {
    background-color: rgba(0, 0, 0, 0.5);
    border: solid 3px white;
}

.intro .imgSet {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column; /* Smallscreen */
    justify-content: center;
    gap: 20px;

    padding: 20px 0;
}

.intro .imgSet .imgFrame {
    text-align: center;
    font-size: 110%;
    padding: 10px;
    max-width: 100%;
}

.intro .imgSet .img {
    max-width: 100%;
    object-fit: scale-down;

    max-height: 300px; /* Smallscreen */
}

@media (min-width: 980px)
{
    .intro .imgSet {
        flex-direction: row;
    }

    .intro .imgSet .imgFrame {
        min-width: 350px;
    }

    .intro .imgSet .img {
        height: 350px;
        max-height: unset;
    }
}

.intro .quoteFrame {
    position: relative;
    width: 100%;

    text-align: center;
    font-size: 150%;
}

.intro .quoteFrame .quotation {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 125%;

    padding: 100px 10px;
    position: relative;
}

.intro .quoteFrame .quotation .mark {
    position: absolute;
    font-size: 300px;
    font-style: italic;
    margin: 0;
}

.intro .quoteFrame .quotationStart {
    /* Smallscreen */
    left: -30px;
    top: -20px;
}

.intro .quoteFrame .quotationEnd {
    /* Smallscreen */
    right: 50px;
    bottom: -200px;
}

.intro .zigZag {
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0;
}

.intro .zigZagBottom {
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0;

    background-image: url('../img/visuals/Separators/ZigZagUpWhite.svg');
    background-repeat: repeat;
}

.explorer {
    z-index: 1;
    background: none;
    color: black;
    text-align: center;
    font-size: 130%;

    background-color: white;
}

.explorer .selection {
    overflow-x: auto;
    padding: 20px;
    margin-bottom: 20px;
}

.explorer .selection .selectionList {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.explorer .selection li {
    min-width: 210px;
    padding: 15px;
    margin: 10px;

    border: black solid 3px;
}

.explorer .selection .guitarBtn:not(.selected) {
    cursor: pointer;
    background-color: var(--crush40-red-pale-transparent);
}

.explorer .selection .guitarBtn:not(.selected):hover {
    background-color: var(--crush40-red-pale-hover);
}

.explorer .selection .selected {
    background-color: var(--crush40-blue-pale-transparent);
}

.explorer .selection .multiItem {
    min-width: 540px;
    background-color: rgba(0, 0, 0, 0.2);
}

.explorer .selection .multiItem ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.explorer .selection .multiItem .guitarBtn {
    height: 100%;
}

.guitar {
    width: 100%;
    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;

    overflow-x: auto;
}

.guitar .hover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.guitar .hover .point {
    position: absolute;
}

.guitar .hover .point:not(.selected) {
    cursor: pointer;
}

.guitar .hover .point:not(.selected):hover {
    background-color: var(--crush40-red-pale-transparent);
}

.guitar .hover .selected {
    background-color: var(--crush40-blue-pale-transparent);
}

.guitarNoBg .GSBackContainer {
    visibility: hidden;
}

.guitarImgContainer {
    left: 20px;
    width: calc(100% - 40px);
    position: relative;
    display: flex;
    z-index: 0;
}

.guitarImgContainer img {
    width: 100%;
    min-width: 1000px;
}

.explorer .details {
    position: relative;
    
    color: white;
    text-align: center;
    background-color: black;

    width: 100%;

    display: grid;
    flex-direction: column;

    /* Smallscreen */
    grid-template-rows: auto auto;
    grid-template-areas: 
        "select"
        "more";
}

.explorer .details.noGtr .otherDetails {
    position: fixed;
    visibility: hidden;
}

.explorer .details .hidden {
    position: absolute;
    visibility: hidden;
}

.explorer .details .otherDetails {
    grid-area: more;
    
    padding: 50px 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    /* Smallscreen */
    border-top: solid 3px red;
}

.explorer .details .selectInfo .generalImg {
    width: 30%;
}

.explorer .details .selectInfo {
    grid-area: select;

    padding: 50px;
    align-self: center;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.explorer .details .selectInfo .pickupInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.explorer .details .selectInfo .pickups {
    display: flex;
    flex-direction: row;
    background-color: red;
    gap: 3px;
}

.explorer .details .selectInfo .switchPositions {
    list-style-type: none;
    padding: 0;

    display: flex;
    justify-content: center;
    gap: 10px;
}

.explorer .details .selectInfo .switchPos p {
    margin: 0;
}

.explorer .details .selectInfo .switchPos {
    border: solid 1px white;
    border-radius: 50%;
    width: 25px;

    cursor: pointer;
}

.explorer .details .selectInfo .switchPos:hover {
    background-color: var(--crush40-red-pale);
}

.explorer .details .selectInfo .switchPos.selected {
    background-color: var(--crush40-blue-pale);
}

.explorer .details .selectInfo .pickup {
    background-color: black;
    padding: 25px;
}

@media (min-width: 1100px)
{
    .explorer .details {
        grid-template-rows: auto;
        grid-template-columns: 500px 1fr;
        grid-template-areas: "more select";
    }

    .explorer .details.noGtr {
        grid-template-columns: 1fr;
        grid-template-areas: "select";
    }

    .explorer .details .otherDetails {
        border-top: none;
        border-right: solid 3px red;
    }

    .explorer .details .otherDetails {
        padding-top: var(--guitar-half-height);
    }
}

.explorer .details .selectInfo {
    padding-top: var(--guitar-half-height);
}

.otherJunGear {
    background-color: var(--crush40-gray);

    position: relative;
    padding-top: 50px;
}

.otherJunGear .zigZagTop {
    position: absolute;
    width: 100%;
    height: 50px;
    top: 0;

    background-image: url('../img/visuals/Separators/ZigZagDownBlack.svg');
    background-repeat: repeat;
}

.otherJunGear .zigZagTop .lineOverlay {
    position: absolute;
    left: 0;
    height: 50px;
    width: 560px;

    visibility: hidden;
}

@media (min-width: 1100px)
{
    .otherJunGear .zigZagTop .lineOverlay {
        visibility: visible;
    }
}

.amps {
    text-align: center;
    font-size: 130%;
}

.otherJunGear .ampsList {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

    list-style-type: none;
    padding: 0;
}

.otherJunGear .ampsList .amp {
    margin: 10px;
    padding: 25px;
    border: 3px solid white;
    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    width: 300px;
}

.amps .amp img {
    width: 100%;
}

.cabinet {
    background-color: var(--crush40-gray);
}

.cabinet .strip {
    margin: 120px 0;
}

.cabinet .stripBack {
    background-color: var(--crush40-red);
}

.cabinet .stripText {
    color: black;
    padding-left: 50px;
}

.pods {
    font-size: 130%;
    text-align: center;
    background-color: var(--crush40-gray);
}

.pods .podHighlight {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto;
    grid-template-areas: "img txt";
    align-items: center;
    gap: 20px;

    padding: 50px;
}

.pods .podHighlight img {
    grid-area: img;
}

.pods .podHighlight .text {
    grid-area: txt;
    text-align: left;
}