@font-face {
    font-family: 'Dimentia';
    font-weight: 300;
    src: url('../img/fonts/Dimentia.otf');
}

@font-face {
    font-family: 'Dirty Headline';
    font-weight: 300;
    src: url('../img/fonts/JunTitle.ttf');
}

@font-face {
    font-family: 'Birth of a Hero';
    font-weight: 400;
    src: url('../img/fonts/JohnnyTitle.ttf');
}

/* INTRODUCING... CRUSH 40! */
.intro {
    position: relative;

    background-color: var(--crush40-gray);
    color: white;
    overflow: hidden;
}

.intro h2 {
    text-align: center;

    color: var(--crush40-red);
    font-size: 200%;
    font-family: Dimentia;
    font-style: italic;
    font-weight: 400;
}

.intro h2 img {
    vertical-align: middle; 
    width: 180px;
}

.intro .blockTitle {
    color: black;
    background-color: var(--crush40-red);
    width: 300px;
    padding: 20px;

    z-index: 1;
}

.intro .blockTitleRight {
    display: flex;
    justify-content: flex-end;
}

.intro .strip {
    width: calc(100% + 20px);

    box-sizing: border-box;
    margin-top: 30px;
    margin-bottom: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: black;

    z-index: 1;
}

.intro .stripUp {
    padding-left: 50px;
    transform: rotateZ(-6deg);
}

.intro .stripDown {
    padding-right: 50px;
    transform: rotateZ(6deg);
}

.intro .stripDown .stripText {
    width: 80%;
}

.intro .stripUp .stripText {
    width: 80%;
}

.intro .stripImg {
    width: 80%;
}

@media (min-width: 800px)
{
    .intro .strip {
        margin-bottom: 20px;
        margin-top: 10px;
        font-size: 180%;
        flex-direction: row;
    }

    .intro .stripDown {
        padding-left: 50px;
    }

    .intro .stripImg {
        width: 30%;
    }
}

.intro .stripBack {
    padding: 10px;
    margin-left: -100px;

    z-index: -1;
    position: absolute;
    width: 150%;
    height: 100%;
}

.intro .whoIsC40 .stripBack {
    background-color: var(--crush40-red);
}

.intro .otherBandMembers .stripBack {
    background-color: var(--crush40-blue);
}

.intro .introSection, .intro .strip {
    font-size: 160%;
}

.intro .bandMembers {
    justify-items: center;
    text-align: center;
    flex-direction: row;
    
    /* Smallscreen: */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro .bandMembers .centreSeparator {
    /* Smallscreen: */
    background-image: url('../img/visuals/GuitarLoop/Horizontal.svg');
    background-repeat: repeat-x;
    background-size: contain;
    width: 100%;
    height: 80px;

    transition: background-position 0.1s ease-out;

    grid-area: gtr;
}

.intro .bandMembers .johnnyTogetherImg {

    grid-area: johnnyTogetherImg;
    align-self: center;

    transform: rotate(6deg);
    max-width: 50%;

    /* Smallscreen */
    margin-top: 50px;
    margin-bottom: 40px;
}

.intro .bandMembers .junMrJun {
    grid-area: junMrJun;
    justify-self: center;

    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: -100px;
    padding: 15px;
    padding-bottom: 100px;

    background-color: var(--crush40-darkgray);
}

.intro .bandMembers .junMrJun .contents {
    width: 400px;
    height: 300px;
}

.intro .bandMembers .img {
    max-width: 70%;
    object-fit: scale-down;
}

@media (min-width: 1000px) {
    /* Largescreen: */
    .intro .bandMembers {
        display: grid;
        align-items: flex-start;

        grid-template-rows: auto auto auto auto auto;
        grid-template-columns: 1fr auto 1fr;
        grid-template-areas:
            "johnnyIndicator gtr junIndicator"
            "johnnyTitle gtr junTitle"
            "johnnyDesc gtr junDesc"
            "johnnyImg gtr junImg"
            "johnnyTogetherImg gtr junMrJun";
    }

    .intro .bandMembers .centreSeparator {
        margin-top: -193px;
        margin-left: 50%;

        background-image: url('../img/visuals/GuitarLoop/Vertical.svg');
        background-repeat: repeat-y;
        width: 80px;
        height: calc(100% + 250px);
    }

    .intro .bandMembers .johnnyTogetherImg {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.intro .bandMembers .indicator {
    font-family: 'Dimentia';
    color: #ff0000;
    margin-bottom: 5px;
}

.intro .bandMembers .title {
    font-size: 125%;
    margin: 0px;
}

.intro .bandMembers .johnnyTitle .aka {
    grid-area: johnnyAka;
    margin-bottom: 0px;
}

.intro .bandMembers .junTitle { 
    font-family: 'Dirty Headline'; 
    font-weight: 300;
    font-size: 170%;
    grid-area: junTitle; 
}

.intro .bandMembers .johnnyTitle .title { 
    font-family: 'Birth of a Hero';
    font-weight: 300;
    font-size: 240%;
    grid-area: johnnyTitle;
}

.intro .bandMembers .johnnyDesc { grid-area: johnnyDesc; padding-left: 30px; }
.intro .bandMembers .johnnyImg { grid-area: johnnyImg; }
.intro .bandMembers .johnnyIndicator { grid-area: johnnyIndicator; }
.intro .bandMembers .johnnyTitle { grid-area: johnnyTitle; }
.intro .bandMembers .junDesc { grid-area: junDesc; padding-left: 25px; }
.intro .bandMembers .junImg { grid-area: junImg; }
.intro .bandMembers .junIndicator { grid-area: junIndicator; }

.intro .otherBandMembers {
    margin-bottom: 50px;
}

.intro .naming {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro {
    padding-bottom: 200px;
}

/* GUITARS */
.guitars {
    margin-top: -125px;
}

@media (min-width: 800px) {
    .guitars {
        margin-top: -170px;
    }
}

.guitar {
    width: 100%;
    position: relative;

    display: flex;
    align-items: center;
}

.guitar .neck {
    position: absolute;
    height: 100%;
    background-repeat: repeat-x;

    /* Smallscreen */
    width: 100%;
    background-size: auto 30px;
}

.guitar-top .neck {
    background-image: url('../img/visuals/GuitarLoop/Horizontal.svg');
    background-position: 531px 107px;
}

.guitar .body {
    grid-area: body;
    z-index: 1;
    width: 400px;

    margin-left: -65px;
}

.guitar .headstock {
    visibility: hidden;
    position: absolute;
    z-index: 1;

    right: -72px; /* This is overriden by JS to use a snapping system instead, to avoid weirdly lining up with frets - this is just here for non-JS */

    /* Smallscreen */
    --snap-size: 15px;
    --offset-from-right: 70px;
}

.guitar-top .headstock {
    width: 134px;
}

@media (min-width: 600px) {
    .guitar .neck {
        width: calc(100% - 30px);
    }

    .guitar .headstock {
        visibility: visible;
    }
}

@media (min-width: 800px) {
    .guitar .body {
        width: 600px;
        margin-left: -40px;
    }

    .guitar .headstock {
        --snap-size: 23px;
        --offset-from-right: 139px;
    }

    .guitar-top .headstock {
        right: -32px;
        width: 200px;
    }

    .guitar .neck {
        width: calc(100% - 100px);
        background-size: auto 45px;
    }

    .guitar-top .neck {
        background-position: 558px 160px;
    }
}

.guitars .middle {
    padding-top: 140px;

    color: white;

    display: flex;
    justify-content: center;

    /* Smallscreen */
    margin-top: -120px; 
    height: 500px;
}

.guitars .middle .contents {
    text-align: center;
    margin-top: 50px;
    padding: 10px;
}

.guitars .middle .heading {
    font-size: 200%;
    margin-bottom: 0;
}

.guitars .middle .subheading {
    font-size: 150%;
    margin-top: 10px;
}

@media (min-width: 800px) {
    .guitars .middle {
        /* Largescreen */
        height: 500px;
        margin-top: -180px;
    }
}

.guitar-bottom {
    margin-top: -110px;
}

.guitar-bottom .neck {
    background-image: url('../img/content/guitars/Shadow-II/NeckHorizontal.svg');
    background-position: 531px 109px;
    background-clip: content-box;
}

.guitar-bottom .headstock {
    margin-top: -8px;
    width: 138px;
}

@media (min-width: 800px)
{
    .guitar-bottom {
        margin-top: -200px;
    }

    .guitar-bottom .neck {
        background-position: 558px 163px;
    }

    .guitar-bottom .headstock {
        right: -32px;
        margin-top: -12px;
        width: 213px;
    }
}

.trivia {
    margin-top: -120px;
}

@media (min-width: 800px) {
    .trivia {
        margin-top: -180px;
    }    
}

/* TRIVIA */
.trivia {
    padding-top: 160px;
    height: 300px;
    background-color: white;
    text-align: center;
    color: black;
}

.trivia h2 {
    font-size: 150%;
}

.trivia .description {
    font-size: 150%;
}

.trivia .takeTrivia {
    color: white;
}