@import url('shared/general-formatting.css');
@import url('shared/strips.css');
@import url('shared/colors.css');
@import url('shared/buttons.css');
@import url('shared/lists.css');
@import url('shared/site-background.css');
@import url('shared/zoom-panel.css');
@import url('shared/navbar.css');
@import url('shared/opening.css');
@import url('shared/footer.css');

/* If you see this, you should REALLY come chat with us over on the Discord server! */
@font-face {
    font-family: 'Bahnschrift';
    src: url('../img/fonts/Bahnschrift.ttf');
}

@font-face {
    font-family: 'Dimentia';
    font-weight: 300;
    src: url('../img/fonts/Dimentia.otf');
}