._comp_loading {
    visibility: collapse;

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--crush40-gray);
}

._comp_loading .spinning {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: solid transparent 4px;
    border-top: solid white 4px;

    margin-left: 10px;
}

._comp_loading p {
    font-size: 150%;
}