body {
    --separator-color: rgb(40, 40, 40);
    background-color: var(--separator-color);

    /* Largescreen */
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 400px 500px 1fr;
    grid-template-areas:
        "intro tracks physical"
        "description tracks physical";

    padding-top: 5px;
    padding-left: 5px;
    box-sizing: border-box;
}

.block {
    background-color: var(--crush40-gray);
    margin-right: 5px;
    margin-bottom: 5px;

    padding: 0;
}

/* Intro */
.intro {
    padding-left: 5px;
    padding-right: 5px;
    grid-area: intro;
    background-color: var(--separator-color);
    text-align: center;
}

.stats {
    width: 100%;

    padding-left: 0;
    padding-top: 0;
    margin-top: 0;
    list-style-type: none;
    display: flex;
    gap: 5px;
    justify-content: space-evenly;
}

.stats .stat {
    color: black;
    background-color: var(--crush40-red);

    padding: 5px;
    padding-top: 10px;
    margin: 0;
    width: 100%;
    height: 100%;
}

.stats .stat .statTitle {
    margin: 0;
    text-transform: uppercase;
}

.stats .stat .statVal {
    margin: 0;
    font-size: 200%;
}

/* Tracks */
.tracks {
    grid-area: tracks;

    overflow: auto;
}

.tracks .title {
    text-align: center;
}

.trackList {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.trackList .track {
    background-color: var(--crush40-red-pale);
    margin: 5px;
    padding: 15px;
    padding-bottom: 30px;

    cursor: pointer;
}

.trackList .track:hover {
    background-color: var(--crush40-red-pale-hover);
}

.trackList .track .main {
    position: relative;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.trackList .track .title {
    grid-area: title;

    display: inline-block;
    font-size: 150%;

    margin: 0;
}

.trackList .track .length {
    grid-area: length;
    font-size: 135%;

    margin-left: 10px;
}

.trackList .track .tags {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    list-style-type: none;
}

.trackList .track .tag {
    margin-right: 5px;
    margin-top: 5px;
    padding: 5px 10px;
    border-radius: 15px;

    font-size: 120%;
}

.trackList .track .tag p {
    margin: 0;
}

.trackList .track .tagReRelease {
    background-color: rgb(40, 120, 80);
}

.trackList .track .tagRemix {
    background-color: var(--crush40-blue-pale);
}

.trackList .track .tagInstrumental {
    background-color: var(--crush40-blue);
    
}

.trackList .track .tagOriginal {
    background-color: var(--crush40-red);
}

.trackList .track .tagNotC40 {
    background-color: var(--crush40-gray);
}

.trackList .track .tagLive {
    background-color: rgb(215, 100, 0);
}

.trackList .track .description {
    text-align: center;
    margin-bottom: 0;
}

.description {
    grid-area: description;
    text-align: center;
    padding: 10px;
    overflow: auto;
}

.description p {
    font-size: 120%;
}

.physical {
    background-image: url('../../img/visuals/Background/Discography/SSSBackground.png');
    grid-area: physical;
    text-align: center;

    overflow: auto;
}

.physical .cd {
    display: flex;
    justify-content: center;

    position: relative;
    width: 100%;
    height: 50%;
    margin: 0;
    padding: 20px;

    box-sizing: border-box;
}

.physical .cd .cdImg {
    transform: rotate(6deg);
    position: relative;
    height: 100%;
}

.physical .coverings {
    background-color: black;
    width: 100%;

    text-align: left;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
    box-sizing: border-box;

    font-size: 150%;
}

.physical .imgDetails {
    display: grid;
    grid-template-rows: auto 1fr;
    align-items: center;
    width: 100%;
}

.physical .imgDetailsLeft {
    grid-template-columns: 50% 1fr;
    grid-template-areas:
        "title _"
        "image info";
}

.physical .imgDetailsRight {
    grid-template-columns: 1fr 50%;
    grid-template-areas:
        "_ title"
        "info image";
}

.physical .imgDetails > .title {
    grid-area: title;
}

.physical .imgDetailsRight > .title {
    text-align: right;
}

.physical .imgDetails .img {
    grid-area: image;
    width: 100%;
}

.physical .imgDetails .facts {
    grid-area: info;

    display: flex;
    flex-direction: column;
    justify-self: center;
    gap: 50px;
}

.physical .imgDetails .fact {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "img title"
        "_ info";
    
    align-items: center;

    gap: 4px;
}

.physical .imgDetails .fact .icon {
    grid-area: img;
}

.physical .imgDetails .fact .title {
    grid-area: title;
    margin: 0;
}

.physical .imgDetails .fact .contents {
    margin: 0;
    margin-top: 5px;
    grid-area: info;
}

.physical .imgDetails .fact .contentsList {
    list-style-type: none;
    padding: 0;
}

.physical .obi {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto 1fr;
    grid-template-areas: "img info";

    position: relative;
    font-size: 150%;

    z-index: 1;
    margin-top: -10px;
}

.physical .obi .img {
    grid-area: img;
    max-width: 300px;
    height: 100%;
}

.physical .obi .info {
    text-align: left;
    grid-area: info;
    padding-left: 20px;
    padding-right: 20px;
}

.physical .obi .translation {
    background-color: rgba(0, 0, 0, 0.4);
    margin-bottom: 15px;
    padding: 20px;
}

.physical .tray {
    margin-top: -10px;
}

.physical .booklet {
    padding-top: 30px;
    font-size: 150%;
    background-color: var(--crush40-red);
}

.physical .booklet .title {
    margin-top: 0;
}

.physical .booklet .explore {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navLeft, .navRight {
    background-color: transparent;
    border: none;
    cursor: pointer;

    transition: transform 100ms ease-in-out;
}

.navLeft:hover {
    grid-area: navLeft;
    transform: translateX(-5px);
}

.navRight:hover {
    grid-area: navRight;
    transform: translateX(5px);
}

/*body {
    color: black;

    display: grid;
    grid-template-columns: 450px auto;
    grid-template-areas: "general pageContents"
}

.albumGeneral {
    grid-area: general;

    position: absolute;
    width: 450px;
    height: 100%;

    background-image: url('../../img/visuals/Background/AlbumView/SSSBackground.png');
    background-size: cover;

    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "description"
        "_"
        "tabs";
}

.albumGeneral .description {
    grid-area: description;

    background-color: rgba(0, 0, 0, 0.2);
    padding-top: 15px;
    padding-left: 15px;
    margin-top: 0;
    
    font-size: 125%;
}

.albumGeneral .description h1 {
    margin-top: 0;
}

.albumGeneral .tabs {
    grid-area: tabs;
    background-color: rgba(0, 0, 0, 0.2);

    margin: 0;
    padding: 0;

    font-size: 120%;

    list-style-type: none;
}

.albumGeneral .gradient {
    position: absolute;
    width: 100px;
    height: 100%;
    right: 0;

    grid-area: gradient;
    background: linear-gradient(to right, transparent, var(--crush40-gray))
}

.tabs .tab {
    cursor: pointer;
    padding: 20px;
}

.tabs .tab p {
    margin: 0;
}

.tabs .tab:hover {
    color: white;
    background-color: var(--crush40-red-pale);
}

.albumCurrentTab {
    grid-area: pageContents;
    width: 100%;
    height: 100%;
}*/