body {
    --separator-color: black;
    background-color: var(--separator-color);

    display: grid;
    
    /* Mobile */
    grid-template-rows: auto 1fr;
    grid-template-columns: 400px 400px 1fr;
    grid-template-areas:
        "guitarList intro desc"
        "guitarList performances desc";

    gap: 5px;
}

.block {
    background-color: var(--crush40-gray);
    padding: 0;
    text-align: center;
}

.intro {
    background-color: var(--separator-color);
    grid-area: intro;
}

.intro h1 {
    padding-top: 8px;
}

.intro .hiddenNav {
    visibility: collapse;
    position: fixed;
}

.guitarList {
    grid-area: guitarList;
}

.guitarList .list {
    padding-top: 35px;
    flex-direction: column;
}

.guitarList .list .selected {
    background-color: var(--crush40-blue-pale);
}

.guitarList .list .selected:hover {
    background-color: var(--crush40-blue-pale-hover);
}

.performances {
    grid-area: performances;
}

.performances .list {
    padding-top: 10px;
    flex-direction: column;
}

.desc {
    grid-area: desc;
}

.pictures {
    grid-area: pictures;
}