body {
    --separator-color: rgb(40, 40, 40);
    background-color: var(--separator-color);

    display: grid;
    
    /* Mobile */
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr;
    grid-template-areas:
        "intro"
        "versions"
        "tabs"
        "desc";
    
    gap: 5px;
}

.tabs {
    position: fixed;
    visibility: collapse;
}

/* Smaller, tab-based, layouts */
@media (max-width: 1299px)
{
    /* Mobile */
    .lyricsOpen {
        grid-template-areas:
            "intro"
            "versions"
            "tabs"
            "lyrics";
    }

    .performancesOpen {
        grid-template-areas:
            "intro"
            "versions"
            "tabs"
            "performances";
    }

    .performances .list {
        flex-direction: column;
    }

    /* Focus selected tabs */
    .page:not(.lyricsOpen):not(.performancesOpen) #descriptionTab, .page.lyricsOpen #lyricsTab, .page.performancesOpen #performancesTab {
        border-bottom-color: var(--crush40-blue);
    }

    /* Hide not selected tabs */
    .page.lyricsOpen .desc, .page.performancesOpen .desc, .page:not(.lyricsOpen) .lyrics, .page:not(.performancesOpen) .performances {
        position: fixed;
        visibility: collapse;
    }

    .tabs {
        position: relative;
        visibility: visible;
    }
}

/* Smallscreen */
@media (min-width: 850px)
{
    body {
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 410px 1fr;
        grid-template-areas:
            "intro versions"
            "tabs versions"
            "desc versions";
    }

    .lyricsOpen {
        grid-template-areas:
            "intro versions"
            "tabs versions"
            "lyrics versions";
    }
    
    .performancesOpen {
        grid-template-areas:
            "intro versions"
            "tabs versions"
            "performances versions";
    }

    .desc {
        overflow-y: auto;
    }

    .lyrics {
        overflow-y: auto;
    }

    .performances {
        overflow-y: auto;
    }
}

@media (min-width: 1300px)
{
    body {
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 410px 450px 1fr;
        grid-template-areas:
            "intro desc versions"
            "lyrics desc versions"
            "performances performances versions";
    }
}

@media (min-width: 1500px)
{
    body {
        grid-template-columns: 450px 600px 1fr;
    }
}

.block {
    background-color: var(--crush40-gray);
    padding: 0;
    text-align: center;
}

.intro {
    grid-area: intro;
    background-color: var(--separator-color);
}

.intro h1 {
    margin-bottom: 0;
}

.intro .extra {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 120%;
    justify-content: center;
}

.desc {
    grid-area: desc;
    padding: 10px;
    text-align: left;
}

.desc p {
    font-size: 120%;
}

.desc h2 {
    text-align: center;
}

.desc hr {
    border: none;
    height: 3px;
    background-color: red;
}

.desc .heading {
    font-family: 'Bahnschrift', sans-serif;
    font-weight: 700;
    font-size: 180%;
    margin-bottom: 0;
}

.desc .subHeading {
    font-style: italic;
    margin: 5px 0 0 0;
}

.lyrics {
    grid-area: lyrics;
}

.lyrics .source {
    font-style: italic;
}

.lyrics .text {
    font-size: 130%;
    text-align: left;
    padding: 10px;
}

.performances {
    grid-area: performances;
}

.performances .list {
    overflow-x: auto;
}

.performances .list > li {
    flex-shrink: 0;
    
    font-size: 120%;
    max-width: 450px;
    align-content: center;
    justify-content: center;
    gap: 10px;
}

.performances .list p {
    margin: 0;
}

.performances .list .main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.performances .list .description {
    text-align: center;
}

/* VERSIONS */
.versions {
    grid-area: versions;
    height: 100%;
    overflow-y: auto;
}

.versions .groupsList {
    width: 100%;
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.versions .groupsList .title {
    font-size: 110%;
}

.versions .groupsList .group {
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 30px;
    width: 350px;
}

.versions .groupsList .group .credits {
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.versions .groupsList .group .credits p {
    margin: 0;
}

.versions .versionList {
    flex-direction: column;
    padding: 0;
}