.page {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    background-image: url('../../img/visuals/Background/Vector/Johnny2.svg');
    background-position: center 65%;
    background-repeat: no-repeat;
    background-size: cover;

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/* Question Prompt */
.questionPrompt {
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 10px;

    width: 80%;
}

.questionPos {
    grid-area: pos;
    margin: 0;

    font-weight: 700;
}

.questionImg {
    height: 200px;
}

.question {
    grid-area: question;
    font-size: 150%;
}

.multiChoice {
    display: flex;
    flex-direction: column; /* Smallscreen */
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.multiChoiceBtns {
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 100%;
}

.answerBtns {
    width: 100%;
    display: flex;
    gap: 10px;
    
    /* Smallscreen */
    flex-direction: column;
}

@media (min-width: 1000px) {
    .multiChoice {
        flex-direction: row;
    }

    .answerBtns {
        flex-direction: row;
    }
}

.btnAnswer {
    background-color: var(--crush40-red-pale);
    border: none;
    color: white;
    width: 100%;
    height: 60px;
    margin: 0;
    cursor: pointer;

    position: relative;
}

.btnAnswer:hover {
    background-color: var(--crush40-red-pale-hover);
}

.btnAnswer .orderVal {
    position: absolute;
    top: 6px;
    right: 20px;
    font-size: 110%;

    border: solid 2px white;
    padding: 0 3px;
    border-radius: 50%;
}

.selectedBtnAnswer {
    background-color: var(--crush40-blue-pale);
}

.selectedBtnAnswer:hover {
    background-color: var(--crush40-blue-pale-hover);
}

.answerA { grid-area: a; }
.answerB { grid-area: b; }
.answerC { grid-area: c; }
.answerD { grid-area: d; }

.nextBtns {
    display: flex;
    flex-direction: column; /* Smallscreen */
}

@media (min-width: 1000px)
{
    .nextBtns {
        flex-direction: row;
    }   
}

.quizSubmit {
    grid-area: submit;
    width: 100%;
}

.clickToEnlarge {
    font-style: italic;
    text-align: left;
    font-size: 120%;
    margin: 0;
}

/* Results Screen */
.resultsScreen {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;

    width: 80%;
}

.resultsScreen .results {
    font-size: 200%;
}

.resultsScreen .quote {
    margin-top: 0;
    font-size: 160%;
}

.resultsScreen .correctBar {
    border: 3px black solid;
    border-radius: 10px;
    line-height: 10px;
    height: 40px;

    position: relative;
}

.resultsScreen .correctBarFilled {
    z-index: -1;
    
    position: absolute;
    left: 0;
    top: 0;
    width: 40%;
    height: 100%;
    background-color: var(--crush40-blue-pale-transparent);
}

.resultsScreen .questions {
    display: flex;
    flex-direction: column;
    margin: 0;
    text-align: left;
    font-size: 115%;

    overflow-x: auto;
    margin-bottom: 10px;
}

@media (min-width: 1000px)
{
    .resultsScreen .questions {
        flex-direction: row;
        gap: 40px;
    }   
}

.resultsScreen .questions li {
    flex-shrink: 0;
}

.resultsScreen .questions p {
    margin: 5px 0;
}

.resultsScreen .questions .correct {
    color: var(--crush40-blue);
}

.resultsScreen .questions .incorrect {
    color: var(--crush40-red);
}

.hidden {
    position: fixed;
    visibility: collapse;
}