.page {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/* Question Prompt */
.questionPrompt {
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "pos pos"
        "question question"
        "a b"
        "c d"
        "submit submit";

    justify-items: center;

    gap: 10px;

    width: 80%;
}

@media (min-width: 1100px) {
    .questionPrompt {
        grid-template-rows: auto auto auto auto;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "pos pos pos pos"
            "question question question question"
            "a b c d"
            "submit submit submit submit";

    }
}

.questionPos {
    grid-area: pos;
    margin: 0;

    font-weight: 700;
}

.question {
    grid-area: question;
    font-size: 150%;
}

.btnAnswer {
    background-color: var(--crush40-red-pale);
    border: none;
    color: white;
    width: 100%;
    cursor: pointer;
}

.btnAnswer:hover {
    background-color: var(--crush40-red-pale-hover);
}

.selectedBtnAnswer {
    background-color: var(--crush40-blue-pale);
}

.selectedBtnAnswer:hover {
    background-color: var(--crush40-blue-pale-hover);
}

.answerA { grid-area: a; }
.answerB { grid-area: b; }
.answerC { grid-area: c; }
.answerD { grid-area: d; }

.quizSubmit
{
    grid-area: submit;
    width: 100%;

    visibility: hidden;
}

/* Results Screen */
.resultsScreen {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;

    width: 50%;
}

.resultsScreen .results {
    font-size: 200%;
}

.resultsScreen .quote {
    margin-top: 0;
    font-size: 160%;
}

.resultsScreen .correctBar {
    border: 3px black solid;
    border-radius: 10px;
    line-height: 10px;
    height: 40px;

    position: relative;
}

.resultsScreen .correctBarFilled {
    z-index: -1;
    
    position: absolute;
    left: 0;
    top: 0;
    width: 40%;
    height: 100%;
    background-color: green;
}