.emptyButton, .filledButton {
    text-align: center;
    font-size: 125%;
    border-radius: 10px;
    color: inherit;

    transition: background-color 0.25s;

    cursor: pointer;

    position: relative;

    margin-bottom: 5px;

    /* Smallscreen: */
    width: 100%;
    height: 60px;
}

.iconButton {
    margin: 0;
    padding: 20px;

    background-color: transparent;
    cursor: pointer;
    border: none;
}

.btnSet {
    width: 100%;
    display: flex;
    flex-direction: column;
}

@media (min-width: 580px) {
    .btnSet {
        width: auto;
        flex-direction: row;
    }

    .btnWidthNormal {
        width: 285px;
    }

    .btnWidthWide {
        width: 400px;
    }

    button {
        height: 60px;
        margin-right: 5px;
    }
}

.emptyButton {
    border: solid 4px var(--crush40-red);
    background-color: transparent;
}

.emptyButton:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.filledButton {
    border: none;
    background-color: var(--crush40-red);
}

.filledButton:hover {
    background-color: var(--crush40-red-hover);
}

.btnLink {
    color: white;
    font-style: normal;
}